body{
	background-color: teal;
	}
	
h1{
	font-size: 40px;
	font-family: arial;
	font-weight: bold;
	font-variant: normal;
	font-style: italic;
	color: gray;
	text-align: center;
	text-shadow: 4px 4px 4px #000;
	letter spacing: 3;
	}
		
p{
	color: white;
	line-height: 1.5
	}

ul{
	list-style-type: none;
	color: white;
	}

a{
	text-decoration: none;
	}

ol{
	opacity: .5;
	font: bold 15px arial, sans-serif;
	}
	
div img{
	display: block;
	margin: auto;
	}



