body{
	background-color: teal;
	}
	
h1{
	font-size: 40px;
	font-family: arial;
	font-weight: bold;
	font-variant: normal;
	font-style: italic;
	color: gray;
	text-align: center;
	text-shadow: 4px 4px 4px rgba(255,0,0,.85);
	letter-spacing: 1px;
	}
/* Main Content	 */
h2{
	word-spacing: .5px;
	text-transform: uppercase;
	}
		
p{
	color: white;
	line-height: 1.5
	}

ul{
	list-style-type: none;
	}

a{
	text-decoration: none;
	}

ol{
	opacity: .5;
	font: bold 15px arial, sans-serif;
	vertical-align: middle;
	}
/* 	Main Content Ends */
	
div img{
	display: block;
	margin: auto;
	}

#footer{
	text-indent:2em;
	}


