body{
	background: #688ecd;
	margin: 0;
	padding: 0;
	}

#wrapper{
	width: 760px;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	height: 1500px;
	}

#header{
	background: url(../img/bg_header.jpg) no-repeat;
	margin: 0;
	padding: 10px 0;
	width: 761px;
	height: 277px;
	color: white;
	font: italic normal bold 22px verdana, sans-serif;
	text-indent: 20px;
	top: auto;
	}
	
#content{
	position: absolute;
	left: 235px;
	background: url(../img/sprocket.gif) no-repeat top right;
	width: 525px;
	top: 278px;
	}
h2{
	font-family: verdana, sans-serif;
	font-style: italic;
	color: #4a7cb6;
	}
#text{
	top: 300px;
	}
/* ---------------------------------Navigation----------------------------------------- */	
ul#nav{
	list-style-type: none;
	background: url(../img/global_shadow.png) repeat-y #fff;
	left: 20px;
	top: 200px;
	}
ul#nav li a:link, a:visited{
	text-decoration: none;
	font-style: italic;
	font-family: arial, sans-serif;
	color: #000;
	margin: 0 0;
/* 	border: solid #d8d8d8 thin; */
/* 	border-left: 1px #d8d8d8; */
/* 	border-bottom: 1px #d8d8d8; */
/* 	border-right: 1px #d8d8d8; */
/* 	padding: 0 10px; */
	}
ul#nav li{
	border: solid #d8d8d8 thin;
	border-left: 1px #d8d8d8;
	border-bottom: 1px #d8d8d8;
	border-right: 1px #d8d8d8;
	}
#active{
	color: #4a7cb6;
	}
	
#intellectual_business_solutions{
	background: url(../img/logo.png) no-repeat #fff center;
	margin: 0 auto;
	padding: 10px 0px;
	width: 215px;
	height: 46px;
	border-top: solid 11px #016a8d;
	border-bottom: #f19f6b solid 2px;
	}
#intellectual_business_solutions a{
	display: block;
	width: 215px;
	height: 46px;
	text-indent: -20000px;
	}
	
#global{
	position: absolute;
	top: 200px;
	width: 212px;
	height: 474px;
	padding: 0px 20px
	}
#quote{
	color: #dadada;
	font: italic normal bold 14px 'Trebuchet MS', serif;
	}
	
address, #phone{
	font-family: arial, sans-serif;
	font-size: 12px;
	text-align: center;
	}