/* ---------------------Layout---------------------- */
body{
	background-color: #39f;
	font-family: tahoma, sans-serif;
	margin: 0 auto;
	}
fieldset{
	background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #e2e2e2 0%, #dbdbdb 75%, #d1d1d1 77%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e2e2e2), color-stop(75%,#dbdbdb), color-stop(77%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #e2e2e2 0%,#dbdbdb 75%,#d1d1d1 77%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #e2e2e2 0%,#dbdbdb 75%,#d1d1d1 77%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #e2e2e2 0%,#dbdbdb 75%,#d1d1d1 77%,#fefefe 100%); /* IE10+ */
background: linear-gradient(135deg,  #e2e2e2 0%,#dbdbdb 75%,#d1d1d1 77%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 70%;
	margin: 0 auto;
	}
h1{
	color: #fff;
	font-style: italic;
	text-align: center;
	}
label{
	text-align: right;
	float: left;
	width: 250px;
	}
.note{
	margin: 0 0 0 95px;
	}
#submit{
	width:150px;
	background: #39f;
	color:#fff;
	font-family: Tahoma, sans-serif;
	font-size: 15px;
	height:30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 10px 0 0;
	float: right;
	}
#submit:hover{
	background-color: #fff;
	color: #39f;
	}
input:focus{
	background-color: #afafaf;
	}
.birth{
	margin: 0 0 0 -70px;
	}
/* ----------------Level 3----------------------- */
.log-in{
	position: absolute;
	right: 150px;
	width: 200px;
	top: 45px;
	}
	
.whole{
	margin: 0 0 0 30px;
	}
	
#field-profile-link{
	margin: 10px 0 0 45px;
	}

.profile-link-prefix{
	margin: 130px 0 0 0;
	}

#profile_link{
	margin: 0 0 0 210px;
	}

ul{
	list-style-type: none;
	}

#website_url,#website_name,textarea{
	width: 326px;
	margin: 0 0 0 6px;
	}

#field-agree-tos a{
	display: inline;
	}
	
#email,#password,#password_confirmation{
	margin: 0 0 0 6px;
	}
	
.profile{
	margin: 10px 0 0;
	}
	
/* ------------Level 4-------------------------	 */

.about{
	margin: 10px 0 0 -60px;
	}
	
.name{
	margin: 10px 0 0;
	}
	
#lastname,#firstname,#your_photo{
	margin: 0 0 0 6px;
	}

#dob_year,#dob_day,#dob_month{
	margin: 0 0 0 5px;
	}
	
#male{
	float: left;
	margin: 6px 3px 2px 5px;
	}	
	

	
