*{
	margin: 0;
	padding: 0;
	font-family: calibri , sans-serif; 
	}
	
#wrapper{
	max-width: 960px;
	margin: 0 auto;
	}

body{
	background-color: #c29e6e;
	}

/* Start of Navigation	 */
#navbar ul {
margin: 0;
padding: 10px 2.5%; /* Set margin and padding for cross browser consistency. */
list-style-type: none;
text-align: center; /* Centers navigation bar */
background-color: #000;
float: right;
width: 41.6666667%
	}

#navbar ul li {
display: inline; /* Needed to create horizontal effect */
	}

#navbar ul li a {
text-decoration: none;
padding: .2em 1em; /* Gives the link space inside it's individual block. */
color: #fff;
background-color: #000;
	}

#navbar ul li a:hover {
color: #000;
background-color: #c29e6e;
	}
/* End of Navigation */

/* Start of Gallery */
	
ul#gallery{
	clear: both;
	padding: 0;
	margin: auto;
	overflow: hidden;
	max-width: 100%
	}
	
ul#gallery li{
	display: inline;
	float: left;
	margin: 15px 3.125% 15px 0; /* 30/960 */
	list-style-type: none;
	}
	
#gallery a{
	display: block
	}
	
ul#gallery img {
	max-width:100%;
	}
/* End of Gallery */

#other{
	clear: both;
	padding: 10px 0;
	}
	
.center{
	margin: auto;
	width: 50%; /* 480/960 */
	}

h1{
	border-bottom-style: solid
	}
	
header{
	margin: 14px 0px 0px;
	}
	
h3{
	text-align: center;
	}
	
ul{
	text-align: center;
	list-style-type: none;
	
	}
	
h2{
	margin: 6px 0.625% 6px;
	}

/* Border	 */
#container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
/*   margin: 12px; */
	}

#content{
  float: left;
  width: 25.520833%;
  margin: 25px 5.208333% 75px 15.625%;
  padding: 30px 20px;
	}
	
#content img{
	max-width: 100%;
	}

#content2 {
  float: left;
  width: 25.520833%;
  margin: 25px 5.729167% 75px 9.375%;
  padding: 30px 2.31481481%;
	}
/* End of Border */

footer{
	text-indent: 13em;
	clear: both;
	padding: 5px 0;
	}
	
@media screen and (max-width: 863px) {
	#wrapper{
		position: relative;
		margin: 0 10px;
		width: auto;
		}
	#navbar ul li a {
		text-decoration: none;
		padding: .1em .5em;
		color: #fff;
		background-color: #000;
		}
	ul#gallery li {
		margin: 4px;
		width: auto;
		max-width: 100%;
		float: none;
		}
	footer{
		text-indent: 10em;
		clear: both;
		padding; 3px 0;
		}	
	}
	
@media screen and (max-width: 729px) {
	#navbar ul li a {
		text-decoration: none;
		padding: .1em .1em;
		color: #fff;
		background-color: #000;
		}
	#navbar ul {
		margin: 0px;
		padding: 10px;
		list-style-type: none;
		text-align: center; /* Centers navigation bar */
		background-color: #000;
		float: right;
		width: 41.6666667%
	}
	ul#gallery li {
		margin: 0px;
		width: auto;
		max-width: 100%;
		float: none;
		}
	footer{
		text-indent: 5em;
		clear: both;
		padding; 2px 0;
		}	
	}
	
@media screen and (max-width: 605px) {
	#navbar ul li a {
		text-decoration: none;
		padding: 0em 0em;
		color: #fff;
		background-color: #000;
		}
	#navbar ul {
		margin: 0px;
		padding: 10px;
		list-style-type: none;
		text-align: center; /* Centers navigation bar */
		background-color: #000;
		float: right;
		width: 41.6666667%
		}
	ul#gallery li{
		float: none;
	h1{
		margin: 0px 0px 20px;
		border-bottom-style: solid
		}
	#content{
  		float: none;
  		width: 300px;
  		margin: 25px 5.208333% 75px 15.625%;
  		padding: 30px 20px 10px;
		}
	#content2 {
  		float: none;
  		width: 300px;
  		margin: 10px 5.729167% 75px 9.375%;
  		padding: 10px 35px;
		}
	footer{
		text-indent: 0px;
		clear: both;
		padding; 0px 0;
		}	
	}
	
@media screen and (max-width: 556px) {
	#navbar ul {
		margin: 0px;
		padding: 10px;
		list-style-type: none;
		text-align: center; /* Centers navigation bar */
		background-color: #000;
		float: none;
		width: 500px;
		}
	#navbar ul li{
		display: inline;
		width: 100px;
		}
	h1{
		margin: 0px 0px 20px;
		border-bottom-style: solid
		}
	ul#gallery li{
		display: inline;
		float: none;
		margin: 15px 3.125% 15px 0; /* 30/960 */
		list-style-type: none;
		width: 300px;
		}
	#content{
  		float: none;
  		width: 300px;
  		margin: 25px 5.208333% 75px 15.625%;
  		padding: 30px 20px 10px;
		}
	#content2 {
  		float: none;
  		width: 300px;
  		margin: 10px 5.729167% 75px 9.375%;
  		padding: 10px 35px;
		}
	footer{
		text-align: center;
		}
	h1 p{
		margin: 10px 0px 0px;
		}
	}
	

