*{
	margin:0;
	padding:0;
	}
	
#wrapper{
	width: 960px;
	margin: 0 auto;
	}

body{
	background-color: #c29e6e;
	}
/* Start of Navigation	 */
#navbar ul {
margin: 0;
padding: 5px; /* Set margin and padding for cross browser consistency. */
list-style-type: none;
text-align: center; /* Centers navigation bar */
background-color: #000;
}

#navbar ul li {
display: inline; /* Needed to create horizontal effect */
}

#navbar ul li a {
text-decoration: none;
padding: .2em 1em; /* Gives the link space inside it's individual block. */
color: #fff;
background-color: #000;
}

#navbar ul li a:hover {
color: #000;
background-color: #c29e6e;
}
/* End of Navigation */

#gallery{
	list-style-type: none;
	}
	
#gallery ul li a{
	padding: .2em 1em
	}
	
/* #gallery{ */
  float:left;
}
/* #gallery{ */
  clear:left;
}

.image-line {
   width: 600px;
}
.image-cell {
   width: 300px;
   margin: 10px;
   float: left;
}
.image-clear {
   clear: both;
}



